/*************************
      Media Queries
*************************/


/*********************************
    20 Inch Screen (1600x900)
*********************************/

@media (max-width: 1680px) {
    .intro-content {
        font-size: calc(1vw + 5px);
        font-family: Trajan;
    }
    .second-text {
        font-size: 1.2em;
        font-weight: 300;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 26px;
    }
    .side-note {
        font-family: 'Nunito Sans', sans-serif;
        font-size: .7em;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .subscript-text {
        margin-top: 30px;
        font-size: .64em;
        font-weight: 500;
        width: 90%;
        position: relative;
        left: 10px;
    }
    .center-image {
        display: block;
        height: 100%;
        min-height: 100vh;
        width: 100%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
}


/*********************************
    19 Inch Screen (1440x900)
*********************************/

@media (max-width: 1440px) {
    .intro-content {
        font-size: calc(1vw + 4px);
        font-family: Trajan;
    }
    .subscript-text {
        margin-top: 30px;
        font-size: .64em;
        font-weight: 500;
        width: 100%;
        position: relative;
        left: 10px;
    }
}


/*********************************
    15 Inch Screen (1366x768)
*********************************/

@media (max-width: 1367px) {
    .intro-content {
        font-size: calc(1vw + 2px);
        font-family: Trajan;
    }
    .second-text {
        font-size: 1em;
        font-weight: 300;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 20px;
    }
    .side-note {
        font-family: 'Nunito Sans', sans-serif;
        font-size: .7em;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .second-content {
        margin-top: 5px;
        padding: 0;
    }
    #img-2 {
        margin-bottom: 10px;
        position: relative;
        bottom: 15px;
    }
    .subscript-text {
        margin-top: 20px;
        font-size: .64em;
        font-weight: 500;
        width: 100%;
        position: relative;
        left: 10px;
    }
    #img-1 {
        margin-top: 30px;
    }
    .small-intro {
        margin-top: 5px;
        font-size: .735em;
        font-family: Trajan;
    }
}


/*********************************
    13 Inch Screen (1280x800)
*********************************/

@media (max-width: 1281px) {
    .subscript-text {
        margin-top: 20px;
        font-size: .62em;
        font-weight: 500;
        width: 350px;
        position: relative;
        left: 10px;
    }
}


/*********************************
    12 Inch Screen (1024x768)
*********************************/

@media (max-width: 1278px) and (min-width: 1024px) {
    .intro-content {
        font-size: calc(1vw + 2px);
        font-family: Trajan;
    }
    .second-text {
        font-size: .8em;
        font-weight: 300;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 17px;
    }
    .side-note {
        font-family: 'Nunito Sans', sans-serif;
        font-size: .63em;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .subscript-text {
        margin-top: 30px;
        font-size: .62em;
        font-weight: 500;
        width: 350px;
        position: relative;
        left: 10px;
    }
    #img-1 {
        margin-top: 20px;
    }
}


/************************************
    Ipad Screen (1024x768) Portrait
*************************************/

@media (max-width: 1022px) and (min-width:767px) {
    .center-image {
        display: block;
        height: 100%;
        min-height: 100vh;
        width: 70%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    #main-content {
        position: absolute;
    }
    #center-content {
        position: relative;
    }
    .second-image {
        display: block;
        margin: 0 auto;
        float: none !important;
        width: 250px;
        margin-top: 25px;
    }
}


/************************************
    Mobile (320x667) Portrait
*************************************/

@media (max-width: 320px) {
    body {
        height: 100%;
        width: 100%;
        /*background: #a6233f;*/
        background-image: url('./assets/both-hearts-bg.png');
        background-size: cover;
    }
    .center-image {
        display: block;
        height: 100%;
        min-height: 100vh;
        width: 80%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    #main-content {
        position: absolute;
        top: 0;
        text-align: center;
    }
    #center-content {
        position: relative;
    }
    .second-image {
        display: block;
        margin: 0 auto;
        float: none !important;
        width: 100px;
        margin-top: 0;
    }
    .intro-content {
        font-size: calc(1vw + 5px);
        font-family: Trajan;
    }
    .second-text {
        font-size: 0.63em;
        font-weight: 300;
        font-family: 'Nunito Sans', sans-serif;
        line-height: 10px;
    }
    .second-content {
        margin-top: 0px;
        padding: 0;
        margin-bottom: 40px;
    }
    .side-note {
        font-family: 'Nunito Sans', sans-serif;
        font-size: .5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #img-1 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #img-2 {
        margin-bottom: 5px;
        position: relative;
        bottom: 10px;
    }
    .submit-image {
        float: none;
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    .subscript-text {
        margin-top: 5px;
        font-size: .45em;
        font-weight: 500;
        width: 70%;
        position: relative;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .asterik {
        font-family: Arial;
        font-size:  6px;
    }
}

@media (max-width: 460px) {
    #small-width {
        width: 83.33333333%;
        margin-left: 8.33333333%;
    }
}


/************************************
    Mobile (375x667) Portrait
*************************************/

@media (max-width: 765px) and (min-width: 321px) {
  .asterik {
      font-family: Arial;
      font-size:  7px;
  }
    .center-image {
        display: block;
        height: 100%;
        min-height: 100vh;
        width: 80%;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    #main-content {
        position: absolute;
        text-align: center;
    }
    #center-content {
        position: relative;
    }
    .second-image {
        display: block;
        margin: 0 auto;
        float: none !important;
        width: 150px;
        margin-top: 0;
    }
    .intro-content {
        font-size: calc(1vw + 6px);
        font-family: Trajan;
    }
    .second-text {
        font-size: calc(1vw + 4px);
        font-weight: 300;
        font-family: 'Nunito Sans', sans-serif;
        line-height: calc(1vw + 8px);
    }
    .second-content {
        margin-top: 0px;
        padding: 0;
        margin-bottom: 40px;
    }
    .side-note {
        font-family: 'Nunito Sans', sans-serif;
        font-size: .5em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #img-1 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
    #img-2 {
        margin-bottom: 5px;
        position: relative;
        bottom: 10px;
    }
    .submit-image {
        float: none;
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    .subscript-text {
        margin-top: 5px;
        font-size: .45em;
        font-weight: 500;
        width: 70%;
        position: relative;
        left: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
